.wrapper {
    margin-top: 70px;
    height: 720px;
    background-color: #f2f2f2;
}

.inner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.content-left {
}

.content-right {
}
